.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.react-chatbot-kit-chat-header {
  background-color: blue;
  color:white;
}
.react-chatbot-kit-chat-bot-message {
  background-color: #61045F;
}
.react-chatbot-kit-chat-bot-message-arrow {
  border-right: 8px solid #61045F;;
}

.avatar{
  background-color: red;
  width: 50px;
  height: 50px;
  display: grid;
  place-items: certer;
  color: white;
  border-radius: 100%;
}

.menu{
  /* background-color: #61045F;
  color: white;
  padding: .5rem 1rem;
  border-radius:999px ;
  border: none;
  cursor: pointer;
  margin-left: 3rem; */
  /* background-color: #2898ec; */
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  /* color: #fff; */
  font-weight: medium;
  position: relative;
  width: 184.5px;
  margin-left: auto;
  text-align: left;
}
.lineText{
  background-color: #d4e5f7;
  border-color: #d4e5f7;
  color: black;
}
.textColor{
  color: black;
}